{{#each albums}}
    
    <article class="item lift-item">
        <div class="photo-holder">
            <a href="{{ link }}" class="photo">
                <figure>
                    <img src="{{ cover }}" alt="{{ title }}">
                </figure>
            </a>
        </div>
        <div class="stamp-holder">
            <span class="upper-title">{{ year }}</span>
        </div>
        <div class="info-holder">
            <span class="upper-title">{{ songCount }}</span>
            <span class="underline"></span>
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <a href="{{ link }}">{{ linkTitle }}<span class="arrow"></span></a>
        </div>
    </article>

{{/each}}