{{#each participants}}

    <article class="item lift-item">
        <div class="photo-holder">
            {{#if link}}
                
                <a href="{{ link }}" class="photo">
                    <figure>
                        <img src="{{ photo }}" alt="{{ photoTitle }}">
                    </figure>
                </a>

            {{else}}

                <div class="photo">
                    <figure>
                        <img src="{{ photo }}" alt="{{ photoTitle }}">
                    </figure>
                </div>

            {{/if}}
        </div>
        <div class="stamp-holder">
            <span class="upper-title">{{ entryYear }}</span>
            <p class="sub-title">{{ yearsInGroup }}</p>
        </div>
        <div class="info-holder">
            <span class="upper-title">{{ role }}</span>
            <span class="underline"></span>
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>

            {{#if link}}

                <a href="{{ link }}">подробнее<span class="arrow"></span></a>

            {{/if}}

        </div>
    </article>

{{/each}}